<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PMDS.Global.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="PMDS.Global.Properties.Settings.PMDSDevConnectionString" connectionString="Data Source=STYSRV10V;Initial Catalog=PMDSDev;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PMDS.Global.Properties.Settings.ConnectionString1" connectionString="Provider=SQLNCLI11;Data Source=STYSRV10V;Integrated Security=SSPI;Initial Catalog=PMDSDev" providerName="System.Data.OleDb" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <PMDS.Global.Properties.Settings>
      <setting name="PMDS_Core_BIDS_EDIService_BIDS_EDI_Service" serializeAs="String">
        <value>https://195.64.10.25/BIDS_EDIService.asmx</value>
      </setting>
      <setting name="CertPass" serializeAs="String">
        <value />
      </setting>
      <setting name="CellentEDItest_ediServiceHttp_BIDS_EDI_Service" serializeAs="String">
        <value>http://10.100.3.3:8012/BIDS_EDIService.asmx</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>https://195.64.10.25/BIDS_EDIService.asmx</value>
      </setting>
      <setting name="UsePW4Cert" serializeAs="String">
        <value>False</value>
      </setting>
    </PMDS.Global.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ChilkatDotNet4" publicKeyToken="eb5fc1fc52ef09bd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.5.0.51" newVersion="9.5.0.51" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
