<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ELGA_Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <ELGA_Tests.Properties.Settings>
      <setting name="ELGA_Tests_ELGAServiceTiani_EhrWSRemotingService" serializeAs="String">
        <value>http://hnelga01.tiani-spirit.com:8181/SpiritEhrWsRemoting/EhrWSRemoting</value>
      </setting>
    </ELGA_Tests.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferPoolSize="1147483647" maxBufferSize="1147483647" maxReceivedMessageSize="11147483647" transferMode="Buffered" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EhrWSRemotingPortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="EhrWSRemotingPortBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://hnelga01.tiani-spirit.com:8181/SpiritEhrWsRemoting/EhrWSRemoting" binding="customBinding" bindingConfiguration="EhrWSRemotingPortBinding" contract="ServiceReferenceELGA.EhrWSRemoting" name="EhrWSRemotingPort" />
      <endpoint address="http://hnelga01.tiani-spirit.com:8181/SpiritEhrWsRemoting/EhrWSRemoting" binding="customBinding" bindingConfiguration="EhrWSRemotingPortBinding1" contract="ServiceReferenceELGA.EhrWSRemoting" name="EhrWSRemotingPort1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>