// ************** PMDS Startverzeichnis bzw- Version
pathPrg = F:\Entwicklung\Visual Studio 2005\Projects\pmds\PMDS.Main\bin\Debug
prg = PMDS.Main.exe


// ************** Definierung Launcher-Buttons ****************************************************************************
// typ=pmds         -> Hauptsystem PMDS
// typ=abrech       -> Abrechnungssystem ,   typ=depotabrech  -> Depotgeldabrechnung,   typ=abrechsmall -> Abrechnungssystem klein
// typ=bew          -> Bewerberverwaltung
// typ=stammdat     -> Stammdatenverwaltung
// typ=peps         -> PEPS
// typ=touch        -> Touchdoku
// typ=forms        -> Online-Formulare
// typ=log          -> LogViewer
// *** weitere Parameter *******
// ui=1 oder 0      -> Launcher UI Ein/Aus,  config=heim.config -> config-Datei (Angabe ohne Pfad)
// usr=[userLogin]  -> User für autoLogIn    pwd=[pwdLogin]     -> Passwort für autoLogIn
// *************************************************************************************************************************

BUTTON_PMDS =         ?typ=pmds
BUTTON_ABRECHNUNG =   ?typ=abrech
BUTTON_BEWERBER =     ?typ=bew
BUTTON_STAMMDATEN =   ?typ=stammdat
BUTTON_PEPS =         ?typ=peps
BUTTON_TOUCHDOKU =    ?typ=touch      ?config=pmds.config
BUTTON_FORMS =        ?typ=forms
BUTTON_LOG =          ?typ=log
